In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 4 Iris Seaborn

Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = sns.load_dataset('iris')

- print the first 3 rows

In [3]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

- print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

- print the column names

In [5]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

- print the data type of each column

In [6]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

- print the summary statistics for each of the numeric variables

In [7]:
df_iris.describe(include = 'float64')

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# 5 Telco Google Sheet

Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

In [8]:
telco_churn_url = 'https://docs.google.com/spreadsheets/d/1enPPia450yfCCPnve1Dj77mWCBzq59mmJPLAvzPnmQo/edit#gid=1023018493'
telco_churn_url = telco_churn_url.replace('/edit', '/export?format=csv')

df_google_sheets = pd.read_csv(telco_churn_url)
df_google_sheets.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,total_charges_clean,monthly_charges_bins,payment_type_automatic,services,payment_type_electronic,has_internet_service,tenure,tenure_bins,phone_with_internet,churn_retain
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,0.0,40 - 60,automatic,Phone or Internet,electronic,Internet,0,0 - 1 year,No Phone,Retained
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,0.0,0 - 20,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,0.0,60 - 80,automatic,Phone and Internet,electronic,Internet,0,0 - 1 year,Phone and Internet,Retained
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,0.0,0 - 20,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,0.0,20 - 40,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained

- assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [9]:
df_google_sheets_sample = df_google_sheets.head(100)

- print the number of rows of your original dataframe

In [10]:
df_google_sheets.shape[0]

7049

- print the first 5 column names

In [11]:
df_google_sheets.columns[ : 5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

- print the column names that have a data type of object

In [12]:
df_google_sheets.dtypes[df_google_sheets.dtypes == 'object']

customer_id                object
gender                     object
partner                    object
dependents                 object
payment_type               object
churn                      object
monthly_charges_bins       object
payment_type_automatic     object
services                   object
payment_type_electronic    object
has_internet_service       object
tenure_bins                object
phone_with_internet        object
churn_retain               object
dtype: object

- compute the range for each of the numeric variables.

In [13]:
numeric_columns = df_google_sheets.dtypes[df_google_sheets.dtypes != 'object']
df_google_sheets[numeric_columns.index].apply(lambda column: column.max() - column.min())

is_senior_citizen         1.0
phone_service             2.0
internet_service          2.0
contract_type             2.0
monthly_charges         100.5
total_charges          8666.0
total_charges_clean    8684.8
tenure                   79.0
dtype: float64

# 6 Telco Excel

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [14]:
df_excel = pd.read_excel('TelcoCustDetails.xlsx')
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,total_charges_clean,monthly_charges_bins,payment_type_automatic,services,payment_type_electronic,has_internet_service,tenure,tenure_bins,phone_with_internet,churn_retain
0,1371-DWPAZ,Female,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),56.05,...,0.0,40 - 60,automatic,Phone or Internet,electronic,Internet,0,0 - 1 year,No Phone,Retained
1,2520-SGTTA,Female,0.0,Yes,Yes,1.0,0.0,2.0,Mailed check,20.00,...,0.0,0 - 20,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained
2,2775-SEFEE,Male,0.0,No,Yes,2.0,1.0,2.0,Bank transfer (automatic),61.90,...,0.0,60 - 80,automatic,Phone and Internet,electronic,Internet,0,0 - 1 year,Phone and Internet,Retained
3,2923-ARZLG,Male,0.0,Yes,Yes,1.0,0.0,1.0,Mailed check,19.70,...,0.0,0 - 20,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained
4,3115-CZMZD,Male,0.0,No,Yes,1.0,0.0,2.0,Mailed check,20.25,...,0.0,20 - 40,non-automatic,Phone or Internet,non-electronic,No Internet,0,0 - 1 year,Phone and No Internet,Retained

- assign the first 100 rows to a new dataframe, df_excel_sample

In [15]:
df_excel_sample = df_excel.head(100)

- print the number of rows of your original dataframe

In [16]:
df_excel.shape[0]

7049

- print the first 5 column names

In [17]:
df_excel.columns[ : 5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

- print the column names that have a data type of object

In [18]:
df_excel.dtypes[df_excel.dtypes == 'object']

customer_id                object
gender                     object
partner                    object
dependents                 object
payment_type               object
churn                      object
monthly_charges_bins       object
payment_type_automatic     object
services                   object
payment_type_electronic    object
has_internet_service       object
tenure_bins                object
phone_with_internet        object
churn_retain               object
dtype: object

- compute the range for each of the numeric variables.

In [19]:
numeric_columns = df_google_sheets.dtypes[df_google_sheets.dtypes != 'object']
df_google_sheets[numeric_columns.index].apply(lambda column: column.max() - column.min())

is_senior_citizen         1.0
phone_service             2.0
internet_service          2.0
contract_type             2.0
monthly_charges         100.5
total_charges          8666.0
total_charges_clean    8684.8
tenure                   79.0
dtype: float64

# 7 Train Google Sheet

Read the data from this google sheet into a dataframe, df_google.
https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357

In [20]:
train_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
train_url = train_url.replace('/edit', '/export?format=csv')

df_google = pd.read_csv(train_url)

- print the first 3 rows

In [21]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

- print the number of rows and columns

In [22]:
df_google.shape

(891, 12)

- print the column names

In [23]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

- print the data type of each column

In [24]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

- print the summary statistics for each of the numeric variables

In [25]:
df_google.describe(exclude = 'object')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

- print the unique values for each of your categorical variables

In [26]:
categorical_columns = ['Survived', 'Pclass', 'SibSp', 'Parch', 'Sex', 'Embarked']
df_google[categorical_columns].apply(lambda column: column.unique())

Survived                   [0, 1]
Pclass                  [3, 1, 2]
SibSp       [1, 0, 3, 4, 2, 5, 8]
Parch       [0, 1, 2, 5, 3, 4, 6]
Sex                [male, female]
Embarked           [S, C, Q, nan]
dtype: object